#dates-form {
    padding: 1em 0;
}
#courses-table>tbody>tr>td {
    padding: 0;
    text-align: center;
}
#courses-table>thead>tr>th {
    text-align: center;
}
#courses-table {
    overflow-x: scroll;
}
#courses-table>thead>tr>th:nth-child(odd) {
    vertical-align: top;
}
span.glyphicon {
    font-size: 12px;
}
td.current > .element:only-child {
    width: 80%;
    margin: 0 auto;
}
td.current > .element:not(:only-child) {
    width: 40%;
}
td.current > .element:not(:only-child):first-child {
    margin-left: 10%;
}
.element:not(:only-child) {
    width: 50%;
    float: left;
}
.element {
    padding: 5px;
}
.week {
    background-color: #337ab7;
    color: #fff;
    cursor: pointer;
}
.enrollment {
    background-color: #5bc0de;
}
.prolongation {
    background-color: #5cb85c;
}
.open {
    background-color: #d9534f;
}
.certificate {
    background-color: #f0ad4e;
}
.current {
    background-color: #aaa;
}
a:hover,
a:visited,
a:active,
a:focus {
    text-decoration: none;
}
.course-state-true,
.week-state-true {
    cursor: pointer;
    background-color: #5cb85c;
    color: white;
}
.course-state-false,
.week-state-false {
    cursor: pointer;
    background-color: #d9534f;
    color: white;
}
.comment-block {
    display: none;
}
.state-checkbox {
    width: 16px;
    height: 16px;
    vertical-align: top;
    position: relative;
    top: 0;
}
.comment-btn,
.create-btn {
    font-size: 14px;
}
.create-btn {
    width: 125px;
}
.text-nowrap {
    white-space: nowrap;
}
.input-text,
.input-comment {
    height: 26px;
    padding: 2px 4px;
}
.tasks-table,
.history-table,
.notes-table {
    margin-bottom: 5px;
}
.tasks-table tbody,
.tasks-table thead,
.history-table tbody,
.history-table thead,
.notes-table tbody,
.notes-table thead {
    display: block;
}
.tasks-table tbody,
.history-table tbody,
.notes-table tbody {
    overflow-y: auto;
    overflow-x: hidden;
    height: 212px;
}
.weeks-checkbox {
    width: 12px;
    height: 12px;
    vertical-align: top;
    position: relative;
    top: -1px;
}
.weeks-text {
    font-size: 12px;
    display: none;
}
.header-id,
.header-name {
    cursor: pointer;
}
.course-id,
.course-name {
    padding: 5px;
}
.task-create {
    display: inline-block;
    clear: both;
}
.task-create-input {
    float: left;
    width: 410px;
    padding: 0.3em;
}
.task-create-button {
    float: right;
    width: 145px;
    padding: 0.3em;
}
.note-remove {
    cursor: pointer;
}
.search {
    float: right;
}
.dataTables_filter {
    display: none;
}
#courses-table th {
    min-width: 80px;
}