<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="static/stylesheets/style.css">
    <script src="static/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="static/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="static/bower_components/bootstrap-datepicker/dist/locales/bootstrap-datepicker.ru.min.js"></script>
    <script src="static/bower_components/underscore/underscore-min.js"></script>
    <script src="static/bower_components/datejs/build/production/date-ru-RU.min.js"></script>
    <script src="static/javascripts/app.js"></script>
    <title>Расписание курсов</title>
</head>

<body>
    <div class="row">
        <div class="col-md-12">

            <form id="datesForm" class="form-inline">
                <!--
                <div class="form-group">
                    <label for="from">Начальная дата</label>
                    <input onchange="processInputChange(this, 'from')" type="text" class="form-control" id="from" placeholder="1">
                </div>
                <div class="form-group">
                    <label for="to">Конечная дата</label>
                    <input onchange="processInputChange(this, 'to')" type="text" class="form-control" id="to" placeholder="1">
                </div>
                -->
                <div class="input-daterange input-group" id="datepicker">
                    <span class="input-group-addon">Дата от</span>
                    <input onchange="processInputChange(this, 'from')" type="text" class="input-sm form-control" name="start" id="from" placeholder="dd.mm.yyyy">
                    <span class="input-group-addon"> до </span>
                    <input onchange="processInputChange(this, 'to')" type="text" class="input-sm form-control" name="end" id="to" placeholder="dd.mm.yyyy">
                </div>
                <button onclick="getCoursesData();return false;" class="btn btn-default">Показать</button>
            </form>
            
            

            <div id="data"></div>

            <div class="modal" id="modal-window">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="hideModal()"><span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="modal-title"></h4>
                        </div>
                        <div class="modal-body" id="modal-body">
                            <div id="modal-body-body">

                            </div>
                            <div id="modal-history">

                            </div>
                            <div id="modal-body-head">

                            </div>
                        </div>
                        <div class="modal-footer">

                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->

        </div>
    </div>

<!-- Templates -->
        <script type="text/template" id="table-main">
            <table class="table table-condensed table-bordered" id="courses-table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Название</th>
                    {{ _.each(headers, function(oneDate) { }}
                    <th class="header-week {{ if (oneDate.current){ }} current {{ } }}"
                        title="{{=oneDate.year}} {{ if (oneDate.current){ }} , текущая неделя {{ } }}">{{=oneDate.date}}
                    </th>
                    {{ }); }}
                </tr>
                </thead>
                <tbody>
                {{ _.each(courses, function(course) { }}
                <tr>
                    <td class="header-id"><span>{{=course.ID}}</span></td>
                    <td class="header-name" title="{{=course.Name}}"><span>{{=course.ShortName}}</span>{{if (!document.offline){ }}<span
                            class="glyphicon week-button {{if (course.State){ }} glyphicon-ok-circle {{ } else { }} glyphicon-warning-sign week-warning {{ } }}"
                          onclick="showModalCourse('{{=course.ID}}')"
                            title="{{if (!course.State){ }} Не выполнены условия {{ } }}"></span>{{ } }}</td>
                    {{ _.each(course.Weeks, function(week){ }}
                    <td {{if (week.current){ }} class="current" {{ } }}>
                        {{ if (week.enrollment) { }}
                        <div class="element enrollment" title="Регистрация">&nbsp;<span class='glyphicon glyphicon-plus'></span>&nbsp;</div>
                        {{ } }}

                        {{ if (week.weekNumber) { }}
                        <div class="element week" title="Неделя {{=week.weekNumber}}">{{=week.weekNumber}}</div>
                        {{ } }}

                        {{ if (week.prolongation) { }}
                        <div class="element prolongation" title="Продление">&nbsp;<span class='glyphicon glyphicon-repeat'></span>&nbsp;</div>
                        {{ } }}

                        {{ if (week.open) { }}
                        <div class="element open" title="Открытие в воскресенье">&nbsp;<span class='glyphicon glyphicon-folder-open'></span>&nbsp;</div>
                        {{ } }}

                        {{ if (week.certificate) { }}
                        <div class="element certificate" title="Выдача сертификатов">&nbsp;<span class='glyphicon glyphicon-file'></span>&nbsp;</div>
                        {{ } }}
                    </td>
                    {{ }); }}
                </tr>
                {{ }); }}
                </tbody>
            </table>
        </script>

        <script type="text/template" id="checkitem-main">
            <input type="hidden" id="currentCourse" value="{{= courseId}}">
            <table class="table">
                <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>Параметр</th>
                    <th>Состояние</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                {{ _.each(checkitems, function(item) { }}
                <tr>
                    <td>
                        <button class="btn btn-default btn-xs" onclick="showCheckItemHistory(this, {{= item.ID}})"><span
                                title="История изменений" class="glyphicon glyphicon-comment"></span></button>
                    </td>
                    <td>{{= item.Name}}</td>
                    <td><input type="checkbox" onchange="processCheckitemChange(this, {{= item.ID}})"
                        {{ if (item.CurrentState ){ }} checked="checked" {{ } }}
                        >
                    </td>
                    <td>
                        <button class="btn btn-default btn-xs" onclick="processCheckitemDuplicate({{= item.ID}})"
                                title="Продублировать текущее состояние для добавления комментария"><span
                                class="glyphicon glyphicon-repeat"></span></button>
                    </td>
                </tr>
                {{ }); }}
                </tbody>
            </table>
        </script>

        <script type="text/template" id="checkitem-history-table">
            <input type="hidden" id="currentCheckItem" value="{{= checkItemId}}">
            <table id='history' class='table' style=''>
                <thead>
                <tr style='display: block'>
                    <th>Состояние</th>
                    <th>Пользователь</th>
                    <th>Дата</th>
                    <th>Комментарий</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody id='tb-history'>

                {{ _.each(checkitemHistorys, function(item) { }}
                <tr>
                    <td><input type="checkbox" disabled="disabled" {{ if (item.State){ }} checked="checked" {{ } }}">
                    </td>
                    <td>{{= item.User.Name}}</td>
                    <td>{{= item.Date}}</td>
                    <td>
                        <span class="history-comment-txt">{{= item.Comment}}</span>
                        <span class="history-comment-edit">
                            <textarea>{{- item.Comment}}</textarea><br/>
                            <button onclick="saveHistoryComment(this, {{= item.ID}});"
                                    title="Сохранить комментарий"
                                    class="btn btn-default btn-xs"><span class="glyphicon glyphicon-ok"></span></button>
                        </span>
                    </td>
                    <td>
                        <button onclick="toggleHistoryComment(this)"
                                class="btn btn-default btn-xs"
                                title="Редактировать / Закрыть"><span class="glyphicon glyphicon-pencil"></span>
                        </button>
                    </td>
                </tr>
                {{ }); }}
                </tbody>
            </table>

        </script>


</body>

</html>