<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="static/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css">
    <link rel="stylesheet" href="static/stylesheets/style.css">
    <script src="static/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="static/bower_components/jquery-color/jquery.color.js"></script>
    <script src="static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="static/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="static/bower_components/bootstrap-datepicker/dist/locales/bootstrap-datepicker.ru.min.js"></script>
    <script src="static/bower_components/underscore/underscore-min.js"></script>
    <script src="static/bower_components/datejs/build/production/date-ru-RU.min.js"></script>
    <script src="static/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="static/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
    <script src="static/javascripts/app.js"></script>
    <title>Расписание курсов</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <form id="dates-form" class="form-inline">
                    <div class="input-daterange input-group" id="datepicker">
                        <span class="input-group-addon">Дата от</span>
                        <input type="text" class="input-sm form-control" name="start" id="from" placeholder="dd.mm.yyyy">
                        <span class="input-group-addon"> до </span>
                        <input type="text" class="input-sm form-control" name="end" id="to" placeholder="dd.mm.yyyy">
                    </div>
                    <button onclick="showCourses();return false;" class="btn btn-default">Показать</button>
                    <input class="form-control search" placeholder="Поиск..." size="40">
                </form>

                <div id="courses-block"></div>

                <!-- Модальное окно списка задач курса -->
                <div class="modal" id="modal-tasks">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="hideTasks()"><span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title"></h4>
                            </div>
                            <div class="modal-body">
                                <div class="task-body"></div>
                                <div class="task-create">
                                    <div class="task-create-input">
                                        <input class="form-control input-text" type="text" placeholder="Название задачи...">
                                        <div class="weeks-text"><input type="checkbox" class="weeks-checkbox"> для всех недель курса</div>
                                    </div>
                                    <div class="task-create-button">
                                        <button class="btn btn-default btn-xs create-btn">
                                            <span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Добавить
                                        </button>
                                    </div>
                                </div>
                                <div class="task-history"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Модальное окно списка заметок курса -->
                <div class="modal" id="modal-notes">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="hideNotes()"><span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title"></h4>
                            </div>
                            <div class="modal-body">
                                <div class="note-body"></div>
                                <div class="task-create">
                                    <div class="task-create-input">
                                        <input class="form-control input-text" type="text" placeholder="Текст заметки...">
                                    </div>
                                    <div class="task-create-button">
                                        <button class="btn btn-default btn-xs create-btn">
                                            <span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Добавить
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Templates -->
    <script type="text/template" id="courses-tpl">
        <table class="table table-striped table-bordered" id="courses-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Название</th>
                    {{ _.each(headers, function(d) { }}
                    <th class="header-week {{ if (d.current){ }}current{{ } }}" title="{{- d.year }}{{ if (d.current){ }}, текущая неделя{{ } }}">{{- d.date }}
                    </th>
                    {{ }); }}
                </tr>
            </thead>
            <tbody>
                {{ _.each(courses, function(item) { }}
                <tr>
                    <td class="header-id text-nowrap {{ if (item.state === true) { }}course-state-true{{ } if (item.state === false) { }}course-state-false{{ } }}" onclick="showTasks('{{- item.id }}',-1)"><span>{{- item.id }}</span>
                    </td>
                    <td class="header-name text-nowrap" title="{{- item.name }}" onclick="showNotes('{{- item.id }}')"><span>{{- item.shortName }}</span> {{ _.each(item.weeks, function(week){ }}
                        <td {{if (week.current){ }} class="current" {{ } }}>
                            {{ if (week.enrollment) { }}
                            <div class="element enrollment" title="Регистрация">&nbsp;<span class='glyphicon glyphicon-plus'></span>&nbsp;</div>
                            {{ } }} {{ if (week.weekNumber) { }}
                            <div class="element week {{ if(item.weeksState[week.weekNumber-1] == true) { }}week-state-true{{ } if(item.weeksState[week.weekNumber-1] == false) { }}week-state-false{{ } }}" title="{{- week.weekNumber }}-ая неделя" onclick="showTasks('{{- item.id }}',{{- week.weekNumber }})">{{- week.weekNumber }}</div>
                            {{ } }} {{ if (week.prolongation) { }}
                            <div class="element prolongation" title="Продление">&nbsp;<span class='glyphicon glyphicon-repeat'></span>&nbsp;</div>
                            {{ } }} {{ if (week.open) { }}
                            <div class="element open" title="Открытие в воскресенье">&nbsp;<span class='glyphicon glyphicon-folder-open'></span>&nbsp;</div>
                            {{ } }} {{ if (week.certificate) { }}
                            <div class="element certificate" title="Выдача сертификатов">&nbsp;<span class='glyphicon glyphicon-file'></span>&nbsp;</div>
                            {{ } }}
                        </td>
                        {{ }); }}
                </tr>
                {{ }); }}
            </tbody>
        </table>
    </script>

    <script type="text/template" id="tasks-tpl">
        <table class="table tasks-table">
            <thead>
                <tr>
                    <th width="260">Задача</th>
                    <th width="145">Состояние</th>
                    <th width="145"></th>
                </tr>
            </thead>
            <tbody>
                {{ _.each(tasks, function(item) { }}
                <tr>
                    <td width="260"><a href="javascript:void(0);" onclick="showHistory(this,{{- item.pk }})">{{= item.fields.taskName }}</a>
                    </td>
                    <td width="145" class="text-nowrap">
                        <input class="state-checkbox" type="checkbox" onchange="updateTask(this,'{{- courseId }}',{{- item.pk }})" {{ if (item.fields.taskState){ }} checked="checked"> <span class="state-text">выполнено</span>{{ } else { }} > <span class="state-text">не выполнено</span>{{ } }}
                    </td>
                    <td width="145">
                        <button class="btn btn-default btn-xs comment-btn" style="width:125px" onclick="updateTask(this,'{{- courseId }}',{{- item.pk }},{{- weekNumber }})">
                            <span class="glyphicon glyphicon-comment"></span>&nbsp;&nbsp;Комментарий
                        </button>
                    </td>
                </tr>
                <tr class="comment-block">
                    <td colspan="3">
                        <textarea class="form-control input-comment" rows="3" placeholder="Текст комментария..."></textarea>
                    </td>
                </tr>
                {{ }); }}
            </tbody>
        </table>
    </script>

    <script type="text/template" id="history-tpl">
        <table class="table history-table">
            <thead>
                <tr>
                    <th width="145">Состояние</th>
                    <th width="135">Автор</th>
                    <th width="145">Дата</th>
                    <th width="125">Комментарий</th>
                </tr>
            </thead>
            <tbody>
                {{ _.each(histories, function(item) { }}
                <tr>
                    <td width="145" class="text-nowrap">
                        {{ if(item.fields.state) { }}
                        <span class="glyphicon glyphicon-ok">&nbsp;</span>выполнено {{ } else { }}
                        <span class="glyphicon glyphicon-remove">&nbsp;</span>не выполнено {{ } }}
                    </td>
                    <td width="135" class="text-nowrap">{{- item.fields.username }}</td>
                    <td width="145" class="text-nowrap">{{- new Date(item.fields.timeStamp).toString('dd.MM.yyyy HH:mm') }}</td>
                    <td width="125">{{- item.fields.comment }}</td>
                </tr>
                {{ }); }}
            </tbody>
        </table>
    </script>

    <script type="text/template" id="notes-tpl">
        <table class="table table-hover notes-table">
            <thead>
                <tr>
                    <th width="135">Автор</th>
                    <th width="145">Дата</th>
                    <th width="230">Комментарий</th>
                    <th width="40"></th>
                </tr>
            </thead>
            <tbody>
                {{ _.each(notes, function(item) { }}
                <tr>
                    <td width="135" class="text-nowrap">{{- item.fields.username }}</td>
                    <td width="145" class="text-nowrap">{{- new Date(item.fields.timeStamp).toString('dd.MM.yyyy HH:mm') }}</td>
                    <td width="230">{{- item.fields.comment }}</td>
                    <td width="40" class="note-remove" title="Удалить заметку" onclick="removeNote(this,{{- item.pk }})"><span class="glyphicon glyphicon-remove"></span></td>
                </tr>
                {{ }); }}
            </tbody>
        </table>
    </script>

</body>

</html>
